# Clojure CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-clojure/ for more details
#
version: 2
jobs:
  build:
    docker:
    - image: circleci/clojure:lein-node
    working_directory: ~/repo
    steps:
    - checkout
    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "project.clj" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-
    - run: lein deps
    - run: lein npm install
    - save_cache:
        paths:
        - ~/.m2
        key: v1-dependencies-{{ checksum "project.clj" }}
    - run: lein doo once
    - run: lein cljsbuild once example